---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import SplashLayout from "@layouts/SplashLayout.astro";
import whiteLogo from "../assets/Fiske Frost logo white.png";
import starryLogo from "../assets/blue glitter frost logo-sm.png";

import { Image } from "astro:assets";
import Sponsors from "@components/sponsors.astro";
//export const prerender = true;
---

<SplashLayout title="Welcome">
  <div class="snap-y lg:snap-mandatory lg:h-screen overflow-y-scroll">
    <div
      class="snap-start w-screen h-screen flex flex-col items-center justify-center text-2xl bg-starry">
      <div class="flex justify-center mb-4">
        <Image
          formats={["jpg", "webp"]}
          src={whiteLogo}
          alt="Fiske Frost"
          class="w-1/3"
        />
      </div>
      <div class="mt-6">
        <script is:inline src="https://cdn.tickettailor.com/js/TTWidget.js"
        ></script>
        <button
          class="bg-transparent text-white font-light text-base hover:text-white py-2 px-10 border border-white hover:border-slate-500"
          onclick="TTWidget.loadEvent('fiskeschoolpto',1134151);">
          Buy Tickets
        </button><script is:inline>
          var PTOWidget = {
            loadStore: function (boxOffice, eventSeriesId, ref = "widget") {
              TTWidget.init();
              var url =
                "https://www.tickettailor.com/events/" + boxOffice + "/store?ref=" + ref + "&modal_widget=true&widget=true";
              document.getElementById("tt_widget_overlay_wrapper",).style.display = "block";
              document.getElementsByTagName("body")[0].style.overflow = "hidden";
              TTWidget.loadUrl(url);
              document.getElementsByTagName("body")[0].style.maxHeight = "100%";
            },
          };
        </script>
        <button
          class="bg-transparent text-white font-light text-base hover:text-white py-2 px-10 border border-white hover:border-slate-500"
          onclick="PTOWidget.loadStore('fiskeschoolpto');">
          Donate
        </button>
      </div>
    </div>
    <div
      class="snap-start bg-white w-screen md:min-h-screen md:flex md:items-center justify-center">
      <div
        class="items-center flex flex-col-reverse justify-start md:flex-row space-x-4 w-screen">
        <div class="mt-10 m-5 w-5/6 text-left md:w-1/2 md:ml-10 lg:ml-15">
          <div class="w-auto">
            <h1
              class="text-2xl md:text-2xl lg:text-3xl lx:text-4xl font-bold text-balance">
              Welcome to Fiske&nbsp;Frost
            </h1>
            <p class="text-lg xl:text-xl mt-5">
              Fiske PTO's Biennial Gala is an exclusive adults-only evening of
              elegance, camaraderie, and giving back. Our event features a
              captivating Silent and Live Auction, with every dollar raised
              contributing directly to the Fiske PTO's mission.
            </p>
            <p class="text-lg xl:text-xl mt-5">
              These funds are channeled into various initiatives, including
              enriching our school library collection, empowering teachers
              through mini-grants, supporting beloved events like the Talent
              Show and Science Fair, fueling Big Backyard adventures, promoting
              in-class STEM programming, enhancing our playground equipment, and
              making the Fiske Fair free for all to attend.
            </p>
            <p class="text-lg xl:text-xl mt-5">
              Dress in your best cocktail attire, savor the delightful culinary
              creations from Café Escadrille's renowned kitchen, and immerse
              yourself in live music. It's an opportunity to hang out with
              parent friends and Fiske teachers, forge new friendships, and make
              a significant impact on our beloved Fiske community.
            </p>
          </div>
        </div>
        <div class="items-center flex flex-col w-1/2 mt-16">
          <div class="flex justify-center mb-3">
            <Image
              formats={["jpg", "webp"]}
              src={starryLogo}
              alt="Save the Date"
              class="w-2/3"
            />
          </div>
          <p class="text-center text-lg">March 22, 2024</p>
          <p class="text-center text-lg">7 p.m. onwards</p>
          <p class="text-center text-lg">
            Cafe&nbsp;Escadrille,&nbsp;Burlington,&nbsp;MA
          </p>
        </div>
      </div>
    </div>
    <div
      class="snap-start bg-white w-screen flex items-center justify-center min-h-screen">
      <Sponsors />
    </div>
  </div>
</SplashLayout>
