---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pre-registration Form</Fragment>
      <Fragment slot="desc">Please register your contact information for Fiske Frost.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Signup for Fiske Frost</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We are excited to have you sign up for Fiske Frost this year! Please fill up the form to RSVP for the event.
        </p>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
