---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Fiske Frost 2024</Fragment>
      <Fragment slot="desc">3/22/2024 - 7 p.m. onwards </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Indulge in a one-of-a-kind evening tailored just for you – a curated experience to rejuvenate and celebrate the community you've helped create. It's time for the adults to relax and connect, and we've designed the perfect night for this much-deserved break. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Pre-register for the event now and secure your spot – no financial commitment is needed! 
        </p>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
