---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Donate">
  <Container>
    <Sectionhead>
      <Fragment slot="title" class="text-black">Fiske Frost</Fragment>
      <Fragment slot="desc">
        <span class="block">Coming soon!!!</span>
      </Fragment>
    </Sectionhead>
  </Container>
</Layout>
