---
import SplashLayout from "@layouts/SplashLayout.astro";
import starryLogo from "../assets/blue glitter frost logo-sm.png";
import { Image } from "astro:assets";
---
<SplashLayout title="FAQs">
  <div
    class="snap-start bg-white w-screen md:min-h-screen md:flex md:items-center justify-center">
    <div
    class="items-center flex flex-col-reverse justify-start md:flex-row space-x-4 w-screen">
    <div class="mt-10 m-5 w-5/6 text-left md:w-1/2 md:ml-10 lg:ml-15">
        <div class="w-auto">
        <h1
            class="text-2xl md:text-2xl lg:text-8xl lx:text-4xl font-bold text-balance">
            GOT QUESTIONS?
        </h1>
        <br>
        <h3 class="text-2xl md:text-2xl lg:text-2xl lx:text-4xl font-bold text-balance">
            FIND ANSWERS TO QUESTIONS WE ALWAYS RECEIVE.
            IF YOUR QUERY IS NOT THERE, SEND US A MESSAGE!
            <br>
            <br>
            FISKEFROST@FISKEPTO.ORG
        </h3>
        <p class="text-lg xl:text-xl mt-5">
            <b>When and where is the event taking place?</b>
            <br>
            <br>
            Date: March 22, 2024
            <br>
            Time: 7 p.m. onwards
            <br>
            Venue: Cafe Escadrille, 26 Cambridge St, Burlington, MA 01803
        </p>
        </div> <!--w-auto -->
    </div> <!-- mt-10 m-5 -->
    <div class="items-center flex flex-col w-1/2 mt-16">
        <div class="flex justify-center mb-3">
        <Image
            formats={["jpg", "webp"]}
            src={starryLogo}
            alt="Save the Date"
            class="w-2/3"
        />
        </div> <!-- flex justify-center -->
    </div> <!-- items-center -->
    </div> <!-- parent items-center -->
</div> <!--snap start -->

<div> 
<div class="w-auto">
    <p class="text-lg xl:text-xl mt-5">
        <b>How much are the tickets for?</b>
        <br><br>
        $100 per person.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>When and where can I purchase my tickets?</b>
        <br><br>
        Tickets will go on sale on our website on February 8. 
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>I pre-registered. What do I get?</b>
        <br><br>
        If you pre-registered, you'll get early access to purchase tickets and enjoy perks on February 6. We'll notify you by email beforehand. The first 75 tickets come with an extra surprise for early registrants.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Are you charging Fiske teachers and staff to attend Frost?</b>
        <br><br>
        No, Fiske Frost is free for all Fiske School teachers and staff.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>How can I support our Fiske teachers and staff? </b>
        <br><br>
        You can contribute to teachers' and staff's tickets during your ticket checkout. You'll find suggested donation amounts, or you can enter your own. Your support is highly valued, and we appreciate any monetary contributions.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>I can't attend, but I want to donate towards Fiske staff tickets. How?</b>
        <br><br>
        You can donate to Fiske staff tickets on our website. Visit FiskeFrost or FiskePTO, and you'll find a dedicated tab for staff ticket donations. We appreciate your generosity and thoughtfulness. 
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Is there a dress code for the event?</b>
        <br><br>
        Guests are encouraged to dress in their finest semi-formal or cocktail attire.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Is this a sit-down dinner?</b>
        <br><br>
        Frost is an event designed to mingle and build community. The event's unique cocktail lounge setup ensures that appetizers will be served throughout the evening.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Is there a dance floor? </b>
        <br><br>
        Yes. The evening begins with soothing live acoustic music, creating an inviting atmosphere. As the night progresses, a DJ takes the stage, and a dance floor emerges, providing an opportunity to dance the night away.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Is the event family-friendly?</b>
        <br><br>
        No, this is an adult-only event.
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Can I buy my drinks in advance?</b>
        <br><br>
        Yes, or you can buy them online at the time of ticket purchase and at the venue. 
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Are you serving non-alcoholic beverages?</b>
        <br><br>
        Yes. We have created a special mocktail just for you. There will be standard non-alcoholic beverages available, too. 
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>What parking options are available?</b>
        <br><br>
        The venue is only a 9-minute drive from Fiske School and has ample parking. 
    </p>
    <p class="text-lg xl:text-xl mt-5">
        <b>Who do I contact for further inquiries?</b>
        <br><br>
        Please feel free to reach us at fiskefrost@fiskeschoolpto.com
    </p>
    </div> <!-- class wauto -->
</div> <!-- new div -->
</SplashLayout>