---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import SplashLayout from "@layouts/SplashLayout.astro";
import whiteLogo from "../assets/Fiske Frost logo white.png";
import starryLogo from "../assets/blue glitter frost logo-sm.png";

import { Image } from "astro:assets";
import Sponsors from "@components/sponsors.astro";
---
<SplashLayout title="FAQs">
  <div
    class="snap-start bg-white w-screen md:min-h-screen md:flex md:items-center justify-center">
    <div
    class="items-center flex flex-col-reverse justify-start md:flex-row space-x-4 w-screen">
    <div class="mt-10 m-5 w-5/6 text-left md:w-1/2 md:ml-10 lg:ml-15">
        <div class="w-auto">
        <h1
            class="text-2xl md:text-2xl lg:text-8xl lx:text-4xl font-bold text-balance">
            GOT QUESTIONS?
        </h1>
        <h2
            class="text-2xl md:text-2xl lg:text-2xl lx:text-4xl font-bold text-balance">
            FIND ANSWERS TO QUESTIONS WE ALWAYS RECEIVE.
            IF YOUR QUERY IS NOT THERE, SEND US A MESSAGE!
            FISKEFROST@FISKEPTO.ORG
        </h2>
        <p class="text-lg xl:text-xl mt-5">
            <b>When and where is the event taking place?</b>
            <br>
            Date: March 22, 2024
            Time: 7 p.m. onwards
            Venue: Cafe Escadrille, 26 Cambridge St, Burlington, MA 01803
        </p>
        </div>
    </div>
    <div class="items-center flex flex-col w-1/2 mt-16">
        <div class="flex justify-center mb-3">
        <Image
            formats={["jpg", "webp"]}
            src={starryLogo}
            alt="Save the Date"
            class="w-2/3"
        />
        </div>
    </div>
  </div>
</SplashLayout>